{{#if couchpost.couchFound}}
  {{couchpost.profile}}found a couch near {{couchpost.location}} for {{couchpost.dateNeeded}}
  {{#if couchpost.editable}}
    {{#link-to 'couchpost.edit' couchpost class="btn btn-xs btn-primary"}} Edit {{/link-to}}
    <button class="btn btn-xs btn-warning" {{action 'delete'}}>Delete</button>
  {{/if}}
{{/if}}
{{#unless couchpost.couchFound}}
  {{couchpost.profile}}needs a couch in {{couchpost.location}} on {{couchpost.dateNeeded}}
  {{#if couchpost.editable}}
    {{#link-to 'couchpost.edit' couchpost class="btn btn-xs btn-primary"}} Edit {{/link-to}}
    <button class="btn btn-xs btn-warning" {{action 'delete'}}>Delete</button>
  {{/if}}
{{/unless}}
