<form class="form-group" {{action 'save' on='submit'}}>
  <label for="location">Location</label>
  {{input
    type="text"
    id="location"
    placeholder="Location"
    value=couchpost.location
  }}
  <label for="date_needed">When do you need the couch?</label>
  {{input
    type="date"
    id="date_needed"
    value=couchpost.dateNeeded
  }}
  <label for="couch_found">Found a Couch?</label>
  <select type="text" id="couch_found">
    <option value=false>no</option>
    <option value=true>yes</option>
  </select>
  {{input
    type="number"
    class="hidden"
    for="profile_id"
    id="profile_id"
    value=couchpost.profileId
  }}
  {{input
    type="submit"
    action='save'
    value="submit"
  }}
</form>
<button class='btn btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
