<form class="form-group" {{action 'save' on='submit'}}>
  <label for="location">Location</label>
  {{input
    type="text"
    id="location"
    placeholder="Location"
    maxlength="20"
    required="required"
    value=couchpost.location
  }}
  <label for="date_needed">When do you need the couch?</label>
  {{input
    type="date"
    id="date_needed"
    value=couchpost.dateNeeded
  }}
  <label for="couch_found">Found a Couch?</label>
  {{input
    type="boolean"
    id="couch_found"
    value=couchpost.couchFound
    placeholder="Leave this blank if you haven't found a couch yet!"
  }}
  <button class="btn btn-info" type="submit" action='save' value="submit">Submit</button>
</form>
<button class='btn btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
