<form class="form-group" {{action 'save' on='submit'}}>
  <label for="location">Location</label>
  {{input
    type="text"
    id="location"
    placeholder="Location"
    value=couchpost.location
  }}
  <label for="date_needed">When do you need the couch?</label>
  {{input
    type="date"
    id="date_needed"
    value=couchpost.dateNeeded
  }}
  <label for="couch_found">Found a Couch?</label>
  {{input
    type="text"
    id="couch_found"
    placeholder="found a couch?"
    value=couchpost.couchFound
  }}
  {{input
    type="submit"
    action='save'
    value="submit"
  }}
</form>
<button class='btn btn-xs btn-danger' {{action 'cancel'}}>Cancel</button>
